.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: whitesmoke;
    font-family: 'Arial', sans-serif;
  }
  
  .login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .login-header {
    margin-bottom: 1.5rem;
  }
  
  .login-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  
  h2 {
    margin: 0;
    color: #666;
    font-size: 1.8rem;
  }
  
  p {
    color: #666;
    font-size: 1rem;
  }
  
  button {
    background: #666;
    color: white;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #e04c6a;
  }
  
  .error {
    color: red;
    margin-top: 1rem;
  }
  
  .success {
    color: green;
    margin-top: 1rem;
  }
  
  .form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 0.9rem;
  font-weight: lighter;
}

input {
  width: 90%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #666;
  box-shadow: 0 0 5px rgba(72, 186, 112, 1);
  outline:#333;
}